.footer {
  width: 100%;
  height: auto;
  padding: 1em;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $teritiary-color;
  color: $secondary-color;
  h1 {
    font-size: 2em;
    margin: 0.5em;
  }
  & span {
    font-family: "Playfair Display", serif;
  }
}
