.home {
  padding: 2rem 5rem;
}

.home h1 {
  color: $primary-color;
  font-family: "Playfair Display", serif;
  align-self: center;
  padding: 1em 0.5em;
}

.watches-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  img {
    width: 30vw;
    height: 30vw;
    margin: 2rem auto;
    filter: saturate(40%);

    &:hover {
      filter: none;
      @include easeOut;
    }
  }
}
