.menu-btn {
  position: relative;
  z-index: 3;
  //   left: 35px;
  //   top: 50px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    &:nth-child(1) {
      width: 35px;
      height: 5px;
      margin: 0 0 5px 0;
      background-color: white;
      @include easeOut;
    }

    &:nth-child(2) {
      width: 35px;
      height: 5px;
      margin: 0 0 5px 0;
      background-color: white;
      @include easeOut;
    }

    &:nth-child(3) {
      width: 35px;
      height: 5px;
      margin: 0;
      background-color: white;
      @include easeOut;
    }
  }

  // Rotate Into X With Menu Lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        // transform: rotate(45deg) translate(7.5px, 7.5px);
        transform: translate(0px, 12px) rotate(-45deg);
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        // transform: rotate(135deg) translate(-7px, 6.5px);
        transform: translate(0px, -8px) rotate(45deg);
      }
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 30vw;
  height: max-content;
  visibility: hidden;
  overflow: hidden;

  &.show {
    visibility: visible;
  }

  &-nav {
    display: flex;
    flex-flow: column;
    align-items: center;

    float: left;
    width: 50%;
    height: auto;
    overflow: hidden;
    // opacity: 0.5;
    margin: 0;
    padding: 30vh 0;
    background: $teritiary-color;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //Slide in from top
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-item {
    transform: translate3d(900px, 0, 0);
    @include easeOut;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.show {
      //Slide in from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: $secondary-color;
    text-decoration: none;
    text-align: center;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.15s
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.15s;
  }
}
