$primary-color: rgba(25, 25, 25, 1);
$secondary-color: rgba(235, 235, 235, 1);
$teritiary-color: rgb(5, 0, 0);

@mixin easeOut {
  transition: all 0.7s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
.content,
.home,
.products,
.about,
.contact {
  width: 100%;
  height: 100%;
  background: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
@import "logo";
@import "navigation";
@import "home";
@import "products";
@import "about";
@import "contact";
@import "footer";
@import "scrollbar";

@import "media-queries";
